.anchorLinkWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.anchorLink {
  color: #fff;
  transition: color 500ms;
  margin-bottom: 10px;
}

.anchorLink:hover {
  color: #00fe00;
}
