@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: aliceblue;
}

* {
  box-sizing: border-box;
  color: #000000;
}

p,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
a {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

section,
article {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

section h3,
article h3 {
  margin-bottom: 20px;
}

.gradient-animation {
  background: linear-gradient(270deg, #d9132c, #9213d9) !important;
  background-size: 400% 400%;

  -webkit-animation: gradient 4s ease infinite;
  -moz-animation: gradient 4s ease infinite;
  -o-animation: gradient 4s ease infinite;
  animation: gradient 4s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.active-link {
  color: #00fe00 !important;
}
